[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
django ~= "2.1.6"
kafka-python = "*"
faust = "*"
python-rocksdb = "*"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "3.7"
